.token {
	color: var(--color-grey-0);
}

.token.comment, .token.bracket {
	color: var(--color-grey-2);
}
.token.key,
.token.method,
.token.function {
	color: var(--color-success);
}

.token.string {
	color: var(--color-primary);
}

pre {
	tab-size: 2;
}