
$_h: 215;
$_s: 20%;

$feo-colors: (
  // GREY-COLORS
  'grey-0': hsl($_h, $_s, 98%),
  'grey-1': hsl($_h, $_s, 90%),
  'grey-2': hsl($_h, $_s, 70%),
  'grey-3': hsl($_h, $_s, 40%),
  'grey-4': hsl($_h, $_s, 20%),
  'grey-5': hsl($_h, $_s, 10%),
  // BRAND COLORS
  'primary': #8C90CE,
  // FUNCTIONAL COLORS
	'info': #3C8CDD,
	'success': #59C08C,
	'warning': #FFD782,
	'danger': #EE5873
);

@import '../../node_modules/feo-css/feo.scss';
@import 'global';
@import 'code';
@import 'tooltip';

.pointer { 
  cursor: pointer;
}